# Created by .ignore support plugin (hsz.mobi)
/IHM-MOBILE-JQUERYWEUI.iml
.DS_Store
.idea/vcs.xml
.idea/workspace.xml
0.1.1-SNAPSHOT/
IHM-MOBILE-JQUERYWEUI.iml
dist/.DS_Store
dist/templates/.DS_Store
dist/templates/images/.DS_Store
